*
    img
        width: 100%
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    h2
        text-align: center
        margin: 0        
//like Button start
button
    width: 4em
    height: 4em
//like button end
//wrapper start
.wrapper
    max-width: 900px
    width: 800px
    margin: auto    
    background-color: #1D2329
    color: #FFFFFF 
//wrapper end
//header start  
.header
    width: 100%   
    color: #FFFFFF
    background-color: #000000    
    h1
        text-align: center
        margin: 0
        padding-top: 2%
    nav
        display: inline                                
        ul
            list-style-type: none
            background-color: #454545                       
            li
                display: inline
                a
                   color: #FFFFFF
                   text-decoration: none 
//header end      
//container start
#container
    width: 100%
    display: flex
    flex-wrap: wrap 
    //item start   
    .content
        width: 45%        
        display: flex
        margin: 2%        
        background-color: #181818
        color: #FFFFFF
        border: 2px solid #FFFFFF
        .pic
            width: 35%
            height: auto
            img
                border: 0.3px solid #FFFFFF                    
        div
            width: 63%
            margin: 1%                       
            h4
                font-style: italic
            .likeOutput
                display: flex
                margin-top: auto                                
                .output
                    margin: auto
     //item end
//container end
//footer start
footer
    height: 5em
    background-color: #181818
    color: #FFFFFF    
//footer end  
            
