*img
    width: 100%



.wrapper
    max-width: 900px
    width: 800px
    margin: auto
    border: 2px solid green
    .header
        width: 100%

#container
    width: 100%
    display: flex
    flex-wrap: wrap
    border: 2px solid yellow
    .content
        width: 45%
        display: flex
        border: 2px solid red
        div
            width: 46%
            border: 2px solid orange
