*
    img
        width: 100%
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    h2
        text-align: center

button
    width: 4em

.wrapper
    max-width: 900px
    width: 800px
    margin: auto    
    //background: rgb(226,231,25);
    //background: radial-gradient(circle, rgba(226,231,25,1) 0%, rgba(38,183,74,1) 40%);
    background-color: #1D2329
    color: #FFFFFF
    

    
.header
    width: 100%
    
    //background-image: url('https://cdn.pixabay.com/photo/2020/06/10/13/08/virgin-in-the-green-5282638_1280.jpg')
    color: #FFFFFF
    background-color: #000000    
    h1
        text-align: center
        margin: 0
        padding-top: 2%
    nav
        display: inline                                
        ul
            list-style-type: none
            background-color: #454545                       
            li
                display: inline
                a
                   color: #FFFFFF
                   text-decoration: none 
       
    

#container
    width: 100%
    display: flex
    flex-wrap: wrap    
    .content
        width: 45%
        display: flex
        margin: 2%        
        background-color: #181818
        color: #FFFFFF
        border: 2px solid #FFFFFF
        .pic
            width: 35%
            height: auto                    
        div
            width: 63%
            margin: 1%            
            h4
                font-style: italic
            .likeOutput
                display: flex

footer
    height: 5em
    background-color: #181818
    color: #FFFFFF    
   
            
